/* @import '../../utils/colors.lessC'; */


.navbar{
    display: flex;
    /* height: 50px;
    justify-content: flex-start;

    width: 100%; */
    background-color: aqua;
}
.navbar__header{
    margin-left: 250px;
    font-weight: 80px
    ;
}
.navbar__login{
    margin-left: 250px;

}
.navbar__registration{
    margin-left: 250px;

}
.container{
    display: flex;
    justify-content: center;
}